<template>
	<div>
		<b-loading :is-full-page="true" :active="isLoading" class='primary-loading'></b-loading>
		<div class='row is-justify-content-center' style='margin-top:20px'>
			<div class='symbol-preview'>
				<div class='mask-container' v-if='mask' :style='{ width: Math.round(svgMask.scaledWidth*svgMask.scale) + "px", height: Math.round(svgMask.scaledHeight*svgMask.scale) + "px" }'>
					<svg :viewBox='maskViewBox' :width='Math.round(svgMask.scaledWidth*svgMask.scale)' :height='Math.round(svgMask.scaledHeight*svgMask.scale)'>
						<path :d="maskLeftRectangle" style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994;stroke-opacity:1"/>
						<path :d="maskRightRectangle" style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994;stroke-opacity:1"/>
						<path :d="maskTopRectangle" style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994;stroke-opacity:1"/>
						<path :d="maskBottomRectangle" style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994;stroke-opacity:1"/>
					</svg>
				</div>
				<img v-if='selectedSymbol' :src="`/static/${galleryType}/${selectedSymbol.preview}`" @click='openGallery'/>
				<img v-if='copyValue.url' :src="`${ copyValue.url }`"/>
			</div>
			<b-tooltip v-if='selectedSymbol' :label="$t('EDIT.TIPS.DOWNLOAD')" style='align-self: self-end'>
				<b-button type='is-text' tag="a" :href="`/static/${galleryType}/${selectedSymbol.filename}`" target='_blank' download
					icon size="is-medium" icon-left="download">
				</b-button>
			</b-tooltip>
		</div>
		<p class='preview-label' v-if='selectedSymbolLabel'>{{ selectedSymbolLabel }}</p>

		<div class='row is-justify-content-center'>
			<b-button style='margin: 3px' @click='openGallery' icon-left="magnify" id='open-gallery-button'>
				{{ $t('BUTTONS.OPEN_GALLERY')}}
			</b-button>

			<b-tooltip :label="$t('EDIT.TIPS.RANDOM_SELECTION')">
				<b-button style='margin: 3px' @click='randomSymbol()' icon-left='dice-multiple' outlined/>
			</b-tooltip>
			<!-- TODO print filename -->
			<b-tooltip :label="$t('EDIT.TIPS.UPLOAD_PHOTO')" position='is-left'
				v-if="allowCustomPhoto" >
				<b-field style='margin: 3px'>
					<b-upload @input="customImageUploaded" class="button" accept=".jpeg,.jpg">
						<span class="file-cta" style="background-color: unset; border: unset">
							<b-icon class="file-icon" icon="upload"></b-icon>
							<span class="file-label">{{ $t('BUTTONS.UPLOAD') }}</span>
						</span>
					</b-upload>
				</b-field>
			</b-tooltip>
		</div>

		<div class='row' v-if='symbolInputColors && Object.keys(symbolInputColors).length > 0'>
			<palette-picker v-model='symbolInputColors' :key='rerenderColors' :dropColorEnabled='true' />
		</div>
	</div>
</template>


<script>
	import compressImage from '@/plugins/compress';

	import { computeCoverSize } from '@/vida/components/svgutils.js';

	import PalettePicker from '@/components/pickers/PalettePicker.vue';
	import SymbolsGallery from '@/components/pickers/ModalGallery.vue';
	import { DEFAULT_LOCALE } from '@/plugins/i18n';
	import { exportComponentLabel } from '@/plugins/utils';

	export default {
		name: 'symbol-picker',
		components: { PalettePicker },
		props: {
			value: { id: String, colors: Object, /*type: String, */ url: String, file: Object, width: Number, height: Number },
			colors: {},
			symbolPicker: { type: Boolean, default: true },
			allowCustomPhoto: { type: Boolean, default: true },
			mask: { type:Boolean, default:false },
			documentWidth: { type: Number, required: false },
			documentHeight: { type: Number, required: false }
		},
		data() { return {
			symbols: this.$symbols,
			previewSize: 120,
			copyValue: this.value,
			rerenderColors: 0,
			isLoading: false
		}},
		computed: {
			svgMask:function() {

				if (!this.value.width || !this.value.height) {
					return { cropWidth: 0, cropHeight: 0, scaledWidth: 0, scaledHeight: 0, scale: 0 };
				}

				const width = this.value.width;
				const height = this.value.height;

				const newSize = computeCoverSize(width, height, this.documentWidth, this.documentHeight);
				const scale = newSize.width > this.documentWidth ? newSize.width / width :newSize.height / height;

				const cropWidth = newSize.width - this.documentWidth;
				const cropHeight = newSize.height - this.documentHeight;
				const scaledHeight = height*scale;
				const scaledWidth = width*scale;
				const svgScale = scaledHeight > scaledWidth ? this.previewSize/scaledHeight : this.previewSize/scaledWidth;
				return { cropWidth, cropHeight, scaledWidth, scaledHeight, scale: svgScale };
			},
			maskLeftRectangle: function() {
				const { scale, scaledHeight, cropWidth } = this.svgMask;
				return `M 0,0 v ${scale*scaledHeight} h ${scale*cropWidth/2} v ${-scale*scaledHeight} Z`
			},
			maskBottomRectangle: function() {
				const { scale, scaledWidth, scaledHeight, cropHeight } = this.svgMask;
				return `M 0, ${scale*(scaledHeight - cropHeight / 2)} h ${scale*scaledWidth} v ${scale*cropHeight/2} h ${-scale*scaledWidth} Z`
			},
			maskTopRectangle: function() {
				const { scale, scaledWidth, cropHeight } = this.svgMask;
				return `M 0,0 h ${scale*scaledWidth} v ${scale*cropHeight/2} h ${-scale*scaledWidth} Z`
			},
			maskRightRectangle: function() {
				const { scale, scaledHeight, scaledWidth, cropWidth } = this.svgMask;
				return `M ${scale*(scaledWidth - cropWidth/2)}, 0 v ${scale*scaledHeight} h${scale*cropWidth/2} v ${-scale*scaledHeight} Z`
			},
			maskViewBox: function() {
				const { scale, scaledHeight, scaledWidth } = this.svgMask;
				return `0 0 ${Math.round(scale*scaledWidth)}${Math.round(scale*scaledHeight)}`;
			},
			list: function() {
				if (this.symbolPicker)
					return this.symbols;
				return this.$backgrounds;
			},
			galleryItemId: {
				get: function(){
					return this.copyValue.id;
				},
				set: function(newValue) {

					if (newValue === this.copyValue.id) return;
					this.copyValue.id = newValue;
					this.copyValue.url = undefined;
					this.copyValue.type = 'internalsvg'; // Ou photo todo
					const element = this.list.find((s) => s.id == newValue);

					this.copyValue.colors = element.colors;
					++this.rerenderColors;
					// TODO add this in templates
					if (this.symbolPicker)
						element['gallery'] = 'symbols';
					else
						element['gallery'] = 'backgrounds';
					this.$emit('input', element);
				}
			},
			symbolInputColors: {
				get: function(){
					return this.copyValue.colors;
				},
				set: function(newValue) {
					if (!this.copyValue.colors)
						return;
					let changed = false;
					for (let key in newValue) {
						if (this.copyValue.colors[key] && this.copyValue.colors[key] === newValue[key]) continue;
						changed = true;
					}
					if (!changed) return;
					this.copyValue.colors = newValue;
					++this.rerenderColors;
					// todo ou internalphoto ?
					this.$emit('input', { id: this.value.id, colors: newValue });
				}
			},
			selectedSymbol: function() {
				if (!this.value.id) return undefined;
				return this.list.find((s) => s.id == this.value.id);
			},
			selectedSymbolLabel: function() {
				if (!this.selectedSymbol) return undefined;
				return exportComponentLabel(this.selectedSymbol, this.$i18n.locale, DEFAULT_LOCALE);
			},
			galleryType: function() {
				if (this.symbolPicker)
					return 'symbols';
				else
					return 'backgrounds'
			}
		},
		methods: {
			randomSymbol() {
				const randomIndex = Math.floor(Math.random()*this.list.length);
				this.galleryItemId = this.list[randomIndex].id;
			},
			openGallery() {
				this.$buefy.modal.open({
					parent: this,
					component: SymbolsGallery,
					hasModalCard: true,
					trapFocus: true,
					width: 1080,
					props: {
						title: this.symbolPicker ? this.$tc('EDIT.COMPONENTS.SVGS', this.list.length) : this.$tc('BACKGROUND_IMAGES.LABEL', this.list.length),
						message: this.$t('SVGS.CONTRIBUTE', { email: this.$localConfig.email }),
						list: this.list,
						pathToPreview: `/static/${this.galleryType}/`,
					},
					events: {
						input: (value) => this.galleryItemId = value
					},
					canCancel: ['escape', 'outside']
				})
			},
			customImageUploaded(image) {
				const reader = new FileReader();
				this.isLoading = true;
				const mimeType = 'image/jpeg';

				reader.onload = () => {
					this.$buefy.snackbar.open({
						duration: 6000,
						message: this.$t('EDIT.WARNING.NEW_FEATURE'),
						cancelText: this.$t('BUTTONS.CANCEL'),
						position: 'is-bottom',
						actionText: null
					});

					compressImage(reader.result, mimeType, 75).then((r) => {
						const compressedImage = r['resultData'];
						const compressedBlob = new Blob([compressedImage], { type: mimeType });

						const base64Reader = new FileReader();
						base64Reader.readAsDataURL(compressedBlob);
						base64Reader.onloadend = () => {
							const base64Data = base64Reader.result;
							this.copyValue.url = base64Data
							this.copyValue.id = undefined;
							this.copyValue.type = 'urlphoto';
							this.isLoading = false;
							this.$emit('input', {
								'type': 'urlphoto',
								'url': base64Data
							});
						};

					}).catch((err) => {
						console.error(`Compressed image failed: ${err}`)

						this.copyValue.url = reader.result;
						this.copyValue.id = undefined;
						this.copyValue.type = 'urlphoto';
						this.isLoading = false;
						this.$emit('input', {
							'type': 'urlphoto',
							'url': reader.result
						});
					});
				};
				reader.readAsDataURL(image);
			}
		}
	}
</script>

<style>
.symbol-preview {
	position: relative;
}

.symbol-preview img {
	width: 120px;
	height: 120px;
	object-fit: contain;
}

.mask-container {
	position: absolute;
	top: -7px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	opacity: 0.5;
}

.preview-label {
	font-style: italic;
	color: var(--primary-color);
}
</style>
