<template>
<div>
	<vida-navbar>
		<template v-slot:import>
			<vida-import-menu :disabled='isLoading || isExporting' @input='importFileTemplate'/>
		</template>
		<template v-slot:export>
			<vida-export-menu :disabled='isLoading || isExporting' :templateId='templateId' :advanced='true' />
		</template>
	</vida-navbar>
		<section class='editor'>
			<b-loading :is-full-page="true" :active="isLoading || isExporting" class='primary-loading'></b-loading>
			<aside class='options-sidebar'>
						<!-- <div>
							<b-tooltip :label="$t('BUTTONS.UNDO')" style='padding: 0px 3px'>
								<b-button icon @click='$emit("undo")' size='is-small' icon-left="undo" :disabled='true'></b-button>
							</b-tooltip>
							<b-tooltip :label="$t('BUTTONS.REDO')" style='padding: 0px 3px'>
								<b-button icon @click='$emit("redo")' size='is-small' icon-left="redo" :disabled='true'></b-button>
							</b-tooltip>

							<b-button @click="onZoomOut" size="is-small" icon-left="folder-open" outlined></b-button>
							<b-button @click="onZoomOut" size="is-small" icon-left="content-save" outlined></b-button>
							<vida-export-menu :advanced='false'/>

						</div> -->

				<nav class='navbar is-spaced'>
					<div class="navbar-brand">
						<a class='navbar-item' role="button" @click='vida.selectComponent(cacheDocument.id)'>
							<b-icon class='left-icon' icon="file-document"></b-icon>
							{{ $t('EDIT.COMPONENTS.DOCUMENT') }}
						</a>
						<b-dropdown append-to-body aria-role="list" :max-height="500" scrollable trap-focus v-if='!isLoading' :key="'textslist-' + rerenderTextsList">
							<template #trigger>
								<a
									class="navbar-item"
									role="button">
									<b-icon  class='left-icon' icon="format-title"></b-icon>
									<span>{{ $tc('EDIT.COMPONENTS.TEXTS', Object.keys(cacheTexts).length) }}</span>
									<b-icon icon="menu-down"></b-icon>
								</a>
							</template>
							<b-dropdown-item v-for="(preview, key, index) in cacheTexts" :key='index' @click='vida.selectComponent(key)' aria-role="listitem">{{preview}}</b-dropdown-item>
							<hr class="dropdown-divider" aria-role="menuitem">
							<b-dropdown-item @click='createComponent("text")' aria-role="listitem" id='new-text-button'>
								<b-icon  class='left-icon' icon="plus-circle-outline" size="is-small"></b-icon>
								{{ $t('BUTTONS.NEW') }}
							</b-dropdown-item>
						</b-dropdown>

						<b-dropdown append-to-body aria-role="list" :max-height="500" scrollable trap-focus close-on-click v-if='!isLoading' :key="'imagelist-' + rerenderImagesList">
							<template #trigger>
								<a
									class="navbar-item"
									role="button">
									<b-icon icon="file-image"></b-icon>
									<span>{{ $tc('EDIT.COMPONENTS.SVGS', Object.keys(cacheImage).length) }}</span>
									<b-icon icon="menu-down"></b-icon>
								</a>
							</template>

							<b-dropdown-item aria-role="list-item" paddingless v-for='(preview, key, index) in cacheImage' :key='index' @click='vida.selectComponent(key)'>
								<figure class="image contain-image">
									<img :src="preview" :alt="key"/>
								</figure>
							</b-dropdown-item>
							<hr class="dropdown-divider" aria-role="menuitem">
							<b-dropdown-item @click='createComponent("internalsvg")' aria-role="listitem"  id='new-symbol-button'>
								<b-icon icon="plus-circle-outline" size="is-small"></b-icon>
								{{ $t('BUTTONS.NEW') }} {{ $tc('EDIT.COMPONENTS.SVGS', 1) }}
							</b-dropdown-item>
							<b-dropdown-item @click='createComponent("qrcode")' aria-role="listitem"  id='new-qrcode-button'>
								<b-icon icon="plus-circle-outline" size="is-small" :data-badge="$t('BUTTONS.NEW')"></b-icon>
								{{ $t('BUTTONS.NEW') }} {{ $t('NAVBAR.QRCODE') }}
							</b-dropdown-item>

						</b-dropdown>
					</div>
				</nav>
				<template v-if='!isLoading'>
					<vida-document-input-component v-if='selectedType === "background"' :document='cacheDocument' @update='updateDocument' :key='this.rerenderSelectedComponent'/>
					<vida-text-input-component v-else-if='selectedType === "text"' :width='cacheDocument.width' :height='cacheDocument.height' :options='selectedComponentOptions'
						@update='(opts) => updateComponent(selectedComponent, opts)'
						@remove='() => removeComponent(selectedComponent)'
						@duplicate='() => duplicateComponent(selectedComponent)'
						:nbComponents='nbComponents'
						:key='this.rerenderSelectedComponent'/>

					<vida-image-input-component v-else-if='selectedType === "image"' :width='cacheDocument.width' :height='cacheDocument.height' :options='selectedComponentOptions'
						@update='(opts) => updateComponent(selectedComponent, opts)'
						@remove='() => removeComponent(selectedComponent)'
						@duplicate='() => duplicateComponent(selectedComponent)'
						:nbComponents='nbComponents'
						:key='this.rerenderSelectedComponent'/>

				</template>
			</aside>
			<vida-whiteboard style='margin-left: 430px' id="whiteboard" :zoom="zoom" @zoom:in="onZoomIn" @zoom:out="onZoomOut" @zoom:fit="onZoomFit" />
		</section>
	</div>
</template>

<script>
import compressImage from '@/plugins/compress';

import Vida from '@/vida/vida';
import VidaWhiteboard from '@/components/whiteboard.vue';
import VidaNavbar from '@/components/navbar.vue'

import { uriToJSON, generateId, showSnackbarOnRedirection, stringifyQuery, jsonToURI } from '@/plugins/utils.js';


import { pdfMakeFonts, fontsLoaded } from '@/plugins/font-loader.js';

import VidaDocumentInputComponent from '@/components/visual-input-components/document-input-component.vue';
import VidaTextInputComponent from '@/components/visual-input-components/text-input-component.vue';
import VidaImageInputComponent from '@/components/visual-input-components/image-input-component.vue';
import VidaExportMenu from '@/components/exportmenu.vue';
import VidaImportMenu from '@/components/importmenu.vue';

import 	ImageVidaComponent from '@/vida/components/imagevidacomponent.js';


import { isMobile } from '@/plugins/is-mobile.js';

import LZString from 'lz-string';

export default {
	name: 'editor',
	metaInfo: function() {
        return ({
            title: `Édition - ${this.$localConfig.id}`,
            titleTemplate: '%s | Aktivisda.earth',
			meta: [
				{ vmid: 'description', name: 'description', content: `${this.templateDescription}. | Avec Aktivisda.`  },
				{ property: 'og:title', vmid: 'og:title', content: `${this.$localConfig.id} | Aktivisda` },
				{ property: 'og:type', vmid: 'og:type', content: 'website' },
				{ property: 'og:url', vmid: 'og:url', content: this.$localConfig.url },
				{ property: 'og:image', vmid: 'og:image', content: this.$localConfig.url + `/static/templates/${this.templatePreview}` },
				{ property: 'og:description', vmid: 'og:description', content: `${this.templateDescription}. | Avec Aktivisda.earth` },
				{ property: 'og:site_name', vmid: 'og:site_name', content: `${this.$localConfig.id} | Aktivisda.earth` },
			]
        });
    },

	components: { VidaWhiteboard, VidaNavbar,
		VidaDocumentInputComponent, VidaTextInputComponent, VidaImageInputComponent, VidaExportMenu, VidaImportMenu
	},
	data: function(){
		return {
			isLoading: true,
			isExporting: false,
			zoom: 1,
			templateId: this.$route.params.templateId,
			selectedComponent: undefined,
			selectedComponentOptions: {},
			rerenderSelectedComponent: 0,
			cacheDocument: {},
			cacheTexts: {},
			rerenderTextsList: 0,
			cacheImage: {},
			rerenderImagesList: 0,
			hasChanged: false
		}
	},
	computed: {
		advanced: function() {
			return false || this.$route.query.advanced == "true";
		},
		templateJson: function() {
			if (this.$router.currentRoute.query.b64Template) {
				const b64Template = this.$router.currentRoute.query.b64Template;
				const template = uriToJSON(LZString.decompressFromBase64(b64Template));
				// Maybe only remove the template param
				this.$router.replace({'query': {}});
				return template;

			} else if (this.$router.currentRoute.query.template) {
				const template = uriToJSON(this.$router.currentRoute.query.template);
				// Maybe only remove the template param
				this.$router.replace({'query': {}});
				return template;
			}

			if (this.templateId === undefined) {
				return {
					version: "1.0.14",
					document: {
						format: "CANVAS_FORMAT_CUSTOM",
						id: generateId(),
						resolution: 96,
						width: 1950,
						height: 800,
						background: ImageVidaComponent.randomOptions('internalsvg', 'backgrounds')['image']
					},
					"components": []
				}
			}
			const templateInfo = this.$templates.find((temp) => temp.id === this.templateId);
			if (!templateInfo)
				return undefined;
			const templateJson = require('@/assets/local/templates/' + templateInfo.filename);
			return templateJson;
		},
		templateDescription: function() {
			if (this.templateId === undefined) return '';
			return this.$templates.find((temp) => temp.id === this.templateId).description;
		},
		templatePreview: function() {
			if (this.templateId == undefined) return '';
			return this.$templates.find((temp) => temp.id === this.templateId).preview;
		},
		selectedType: function() {
			if (this.selectedComponent === undefined) return 'background';
			if (Object.keys(this.cacheTexts).indexOf(this.selectedComponent) != -1) return 'text';
			if (Object.keys(this.cacheImage).indexOf(this.selectedComponent) != -1) return 'image';
			return 'background';
		},
		nbComponents: function() {
			this.rerenderImagesList; // for cache update
			this.rerenderTextsList; // for cache update
			return this.vida.nbComponents();
		}
	},
	methods: {
		textPreview(txt) {
			txt = txt.replaceAll('\n', ' ');
			if (txt.length === 0) return '...';
			if (txt.length < 20) return txt;
			return txt.slice(0, 20) + '...';
		},
		imagePreview(imageOptions) {
			switch (imageOptions.type) {
				case 'internalsvg': {
					const symbol = this.$symbols.find((s) => s.id === imageOptions.id);
					return `/static/symbols/${symbol.preview}`;
				}
				case 'urlphoto': {
					return imageOptions.url;
				}
				case 'qrcode':
					return '/qrcode.png';
			}
		},
		onZoomFit() {
			this.zoom = this.vida.zoom(null);
		},
		onZoomOut() {
			this.zoom /= 1.2;
			this.vida.zoom(this.zoom);
		},
		onZoomIn()  {
			this.zoom *= 1.2;
			this.vida.zoom(this.zoom);
		},
		handleResize() {
			// Handle resize is useless while vida is not loaded.
			if (!this.vida) return;
			this.vida.handleResize();
		},
		load(templateJson) {
			this.reset();
			return new Promise((resolve) => {
				this.isLoading = true;
				this.vida.loadJson(templateJson).then(() => {
					this.cacheDocument = this.vida.documentParams();
					for (const key of this.vida.componentsKeys()) {
						const options = this.vida.componentParams(key);
						if (options.type === 'text') {
							this.cacheTexts[key] = this.textPreview(options.text);
						} else if (options.type === 'image') {
							this.cacheImage[key] = this.imagePreview(options.image);
						}
					}
					++this.rerenderTextsList;
					++this.rerenderImagesList;

					this.vida.onSelect = (id) => {
						this.selectedComponent = id;
						this.selectedComponentOptions = this.vida.componentParams(id);
						++this.rerenderSelectedComponent;
					}

					this.vida.onComponentUpdated = (id) => {
						if (this.selectedComponent !== undefined && this.selectedComponent === id) {
							this.selectedComponentOptions = this.vida.componentParams(id);
							++this.rerenderSelectedComponent;
						}
						this.updateCache(id);
					}

					this.onZoomFit();
					if (this.exportType(this.$route) !== undefined) {
						this.isLoading = false;
						this.exportVida(this.exportType(this.$route)).then(() => {
							this.isExporting = false;

							const templateId = this.templateIdGetter(this.$route);
							if (!templateId) {
								this.$router.push({ name: 'editorNew', params: { templateId: undefined, lang: this.lang }});

							} else {
								this.$router.push({ name: 'editor', params: { templateId: templateId, lang: this.lang }});
							}
							resolve();
						});
					} else {
						resolve();
						this.isLoading = false;
					}
				}).catch((error) => {
					this.$buefy.dialog.alert({
						title: 'Erreur',
						message: `Erreur inattendue dans le chargement du modèle.`,
						type: 'is-danger',
						hasIcon: true,
						icon: 'times-circle',
						iconPack: 'fa',
						ariaRole: 'alertdialog',
						ariaModal: true,
						confirmText: "Aller sur la page d'accueil",
						onConfirm: () => this.$router.push({ name: 'welcome' })
					});
					console.error(error);
					this.isLoading = false;
					return;
				});
			});
		},
		exportType(route) {
			if (route.params.exportType !== undefined) return route.params.exportType;

			if (route.params.templateId !== undefined) {
				const param = route.params.templateId;
				if (param === 'png' || param === 'pdf' || param === 'jpg' || param === 'template' || param === 'link')
					return param;
			}
			return undefined
		},
		templateIdGetter(route) {

			if (route.params.exportType !== undefined) return route.params.templateId;
			if (route.params.templateId !== undefined) {
				const param = route.params.templateId;
				if (param === 'png' || param === 'pdf' || param === 'jpg' || param === 'template' || param === 'link')
					return undefined;
			}
			return route.params.templateId;
		},
		reset() {
			if (this.vida) this.vida.destroy();
			this.isLoading = true;
			this.isExporting = false;
			this.hasChanged = false;
			this.vida = new Vida("whiteboard");
			this.rerenderImagesList = 0;
			this.rerenderTextsList = 0;
			this.rerenderSelectedComponent = 0;
			this.cacheDocument = {}
			this.cacheTexts = {}
			this.cacheImage = {}
			this.selectedComponent = undefined;
			this.selectedComponentptions = {};
		},
		setup() {
			return new Promise((resolve) => {
				if (!this.templateJson) {
					this.isLoading = false;
					this.$buefy.dialog.alert({
						title: 'Erreur',
						message: `Le modèle <i>${this.templateId}</i> n'est pas-reconnu. Vous pouvez sélectionner un autre modèle sur la page d'accueil.`,
						type: 'is-danger',
						hasIcon: true,
						icon: 'times-circle',
						iconPack: 'fa',
						ariaRole: 'alertdialog',
						ariaModal: true,
						confirmText: "Aller sur la page d'accueil",
						onConfirm: () => this.$router.push({ name: 'welcome' })
					});
					return;
				}
				fontsLoaded().then(() => {
					this.load(this.templateJson).then(() => resolve());
				});
			});
		},
		updateDocument(options) {
			this.hasChanged = true;
			const rerender = options.background !== undefined;
			const fitCanvas = options.width !== undefined || options.height !== undefined;
			this.vida.updateDocument(options).then(() => {
				if (rerender) ++this.rerenderSelectedComponent;
				if (fitCanvas) this.onZoomFit();
			});
		},
		updateComponent(id, options) {
			this.hasChanged = true;
			const rerender = options.zIndex !== undefined;
			this.vida.updateComponent(id, options).then(() => {
				if (this.selectedComponent === id && rerender) {
					this.selectedComponentOptions = this.vida.componentParams(this.selectedComponent);
					++this.rerenderSelectedComponent;
				}
				this.updateCache(id);
			});
		},
		removeComponent(id) {
			this.hasChanged = true;
			this.vida.removeComponent(id);
			if (this.cacheImage[id]) {
				delete this.cacheImage[id];
				++this.rerenderImagesList;
			} else if (this.cacheTexts[id]) {
				delete this.cacheTexts[id];
				++this.rerenderTextsList;
			}
			if (this.selectedComponent === id) {
				this.selectedComponent = undefined;
			}
		},
		duplicateComponent(id) {
			this.hasChanged = true;
			const options = this.vida.componentParams(id);
			options.id = generateId();
			options.position.x *= 1.05
			options.position.y *= 1.05
			this.vida.createComponent(options)
			.then(() => {
				if (options.type === 'text') {
					this.cacheTexts[options.id] = this.textPreview(options.text);
					++this.rerenderTextsList;
				} else if (options.type === 'image') {
					this.cacheImage[options.id] = this.imagePreview(options.image);
					++this.rerenderImagesList;
				}
				this.vida.selectComponent(options.id);
			});
		},
		createComponent(type) {
			this.hasChanged = true;
			const options = Vida.randomComponentParams(type);
			this.vida.createComponent(options).then(() => {
				if (options.type === 'text') {
					this.cacheTexts[options.id] = this.textPreview(options.text);
					++this.rerenderTextsList;
				} else if (options.type === 'image') {
					this.cacheImage[options.id] = this.imagePreview(options.image);
					++this.rerenderImagesList;
				}
				this.vida.selectComponent(options.id);
			});
		},
		updateCache(id) {
			const options = this.vida.componentParams(id);
			if (options.type === 'text') {
				const preview = this.textPreview(options.text);
				if (preview !== this.cacheTexts[id]) {
					this.cacheTexts[id] = preview;
					++this.rerenderTextsList;
				}
			} else if (options.type === 'image') {
				const preview = this.imagePreview(options.image);
				if (preview !== this.cacheImage[id]) {
					this.cacheImage[id] = preview;
					++this.rerenderImagesList;
				}
			}
		},
		exportVida(format) {
			return new Promise((resolve, reject) => {
				if (this.isExporting || this.loading || !this.vida) {
					reject();
					return;
				}
				this.isExporting = true;
				switch (format) {
					case 'pdf':
						this.exportPdf().then(() => { this.isExporting = false; resolve(); });
						break;
					case 'png':
						this.exportImage('png').then(() => { this.isExporting = false; resolve(); });
						break;
					case 'jpg':
						this.exportImage('jpeg').then(() => {
							this.$buefy.snackbar.open({
								duration: 6000,
								message: this.$t('EDIT.EXPORT.COMPRESSED_JPEG'),
								type: 'is-danger',
								cancelText: this.$t('BUTTONS.CANCEL'),
								position: 'is-bottom',
								actionText: null
							});
							this.isExporting = false;
							resolve();
						});
						break;
					case 'template':
						this.exportTemplate().then(() => {
							this.hasChanged = false;
							this.isExporting = false;
							resolve();
						});
						break;
					case 'link':
						this.isExporting = false;
						this.exportLink().then(() => {
							this.hasChanged = false;
							resolve();
						});
						break;
					default:
						this.isExporting = false;
						console.warning('Export to ${format} is undefined');
						reject();
				}
			})
		},
		exportImage(mime) {

			return new Promise((resolve, reject) => {
				if (!this.vida) {
					reject();
					return;
				}

				const { width, height, id } = this.vida.documentParams();
				const filename = 'aktivisda-' + id;
				const ext = mime;

				const canvas = document.createElement('canvas');
				canvas.id = 'temporary-canvas';
				canvas.width = width;
				canvas.height = height;
				document.body.appendChild(canvas)

				const exportedVida = new Vida("temporary-canvas");
				exportedVida.loadJson(this.vida.toJson()).then(() => {

					// generate the image and download it
					// const ratio = window.devicePixelRatio || 1; // TODO
					const mimeType = 'image/' + mime;

					const initialDataUrl = exportedVida.stage.toDataURL({ mimeType: mimeType, quality: 1 });
					compressImage(initialDataUrl, mimeType, 75).then((r) =>  {
						const compressedImage  = r['resultData'];
						const compressedBlob = new Blob([compressedImage], { type: mimeType });
						const url = URL.createObjectURL(compressedBlob);
						const link = document.createElement('a');
						link.download = `${filename}.${ext}`;
						link.href = url;
						document.body.appendChild(link);
						link.click();

						// // cleanup temporary elements
						document.body.removeChild(link);
						document.body.removeChild(canvas);
						canvas.remove();
						exportedVida.destroy();
						resolve();
					}).catch((err) => {
						console.error(`Compressed image failed: ${err}`)

						const link = document.createElement('a');
						link.download = `${filename}.${ext}`;
						link.href = initialDataUrl;
						document.body.appendChild(link);
						link.click();

						// // cleanup temporary elements
						document.body.removeChild(link);
						document.body.removeChild(canvas);
						canvas.remove();
						exportedVida.destroy();
						resolve();
					});
				});
			});
		},
		exportTemplate() {
			this.warningExperimental();
			return new Promise((resolve) => {
				const str = JSON.stringify(this.vida.toJson(), null, 4);
				const bytes = new TextEncoder().encode(str);
				const blob = new Blob([bytes], {
					type: "application/json;charset=utf-8"
				});
				const url = window.URL.createObjectURL(blob);
				let link = document.createElement('a');
				const { id } = this.vida.documentParams();

				link.download = id + '.json';
				link.href = url;
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
				link = null;
				resolve();
			});
		},
		exportLink() {
			return new Promise((resolve) => {
				const query = {};
				const originalTemplate = jsonToURI(this.vida.toJson());

				if (originalTemplate.size < 1000) {
					query.template = originalTemplate;

				} else {
					const b64CompressedTemplate = LZString.compressToBase64(originalTemplate);
					query.b64Template = b64CompressedTemplate;
				}

				const queryString = stringifyQuery(query);
				const link = this.$localConfig.url + 'edit' + queryString;

				this.$buefy.dialog.prompt({
					message: `${this.$t("EDIT.EXPORT.CONFIRM_LINK")} <b-input value="${link}"></b-input>`,
					inputAttrs: {
						type: 'text',
						value: link
					},
					onConfirm: () => {
						if (!navigator.clipboard) return;
						navigator.clipboard.writeText(link);
						this.$buefy.toast.open(this.$t('BUTTONS.COPIED_TO_CLIPBOARD'));
						this.warningExperimental();
						resolve();
					},
					onCancel: () => { resolve() },
					confirmText: this.$t('BUTTONS.COPY'),
					cancelText: this.$t('BUTTONS.CLOSE'),
					ariaRole: 'copyLinkModal'
				})
			})
		},
		importTemplate(template) {
			return new Promise((resolve) => {
				this.$route.params.templateId = undefined;
				this.templateId = undefined
				if (this.$router.currentRoute.name === 'editor') {
					this.$router.push({ name: 'editorNew', params: { lang: this.lang }});
				}

				if (!this.hasChanged) {
					this.warningExperimental();
					this.load(template)
					.then(() => resolve())
					return;
				}

				this.$buefy.dialog.confirm({
					title: this.$i18n.t('EDIT.IMPORT.CONFIRM.TITLE'),
					message: this.$i18n.t('EDIT.IMPORT.CONFIRM.MESSAGE'),
					confirmText: this.$i18n.t('EDIT.IMPORT.CONFIRM.CONFIRM'),
					cancelText: this.$i18n.t('EDIT.IMPORT.CONFIRM.CANCEL'),
					type: 'is-danger',
					hasIcon: true,
					onConfirm: () => {
						this.load(template).then(
							() => resolve()
						);
						this.warningExperimental();
					},
					onCancel: () => { }
				});
			});
		},
		importLinkTemplate() {

		},
		importFileTemplate(file) {
			file.text().then((txt) => {

				window.history.replaceState({}, document.title, `/${this.$i18n.locale}/edit`);
				const template = JSON.parse(txt);

				this.importTemplate(template);
			});
		},
		warningExperimental() {
			this.$buefy.snackbar.open({
				duration: 6000,
				message: this.$t('EDIT.WARNING.EXPERIMENTAL'),
				type: 'is-danger',
				cancelText: this.$t('BUTTONS.CANCEL'),
				position: 'is-bottom',
				actionText: null
			});
		},
		exportPdf() {
			return new Promise((resolve) => {
				// Do no load library if useless
				const pdfMake = require("pdfmake/build/pdfmake");
				pdfMake.fonts = pdfMakeFonts;
				const pdfContent = this.vida.toPdf();
				if (pdfContent.status !== 'ok') {
					this.$buefy.snackbar.open({
						duration: 6000,
						message: this.$t('EDIT.EXPORT.PDF_ERROR'),
						type: 'is-danger',
						cancelText: this.$t('BUTTONS.CANCEL'),
						position: 'is-bottom',
						actionText: null
					});

				}

				const pdfDocGenerator = pdfMake.createPdf(pdfContent.pdfDescription, null, /*fonts*/);
				pdfDocGenerator.getDataUrl((url) => {
					const link = document.createElement('a');
					const { id } = this.vida.documentParams();
					const filename = 'aktivisda-' + id;
					link.download = `${filename}.pdf`;
					link.href = url;
					document.body.appendChild(link);
					link.click();

					// // cleanup temporary elements
					document.body.removeChild(link);
					resolve();
				});
			});
		},
		raiseMobileConfirm() {
			this.isLoading = false;
			this.$buefy.dialog.confirm({
				title: this.$i18n.t('EDIT.SMARTPHONE_WARNING.TITLE'),
				message: this.$i18n.t('EDIT.SMARTPHONE_WARNING.MESSAGE'),
				confirmText: this.$i18n.t('EDIT.SMARTPHONE_WARNING.CONFIRM_TEXT'),
				cancelText: this.$i18n.t('EDIT.SMARTPHONE_WARNING.CANCEL_TEXT'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => { this.isLoading = true; this.setup() },
				onCancel: () => this.$router.push({ name: 'welcome' })
			});
		}
	},
	mounted: function() {
		showSnackbarOnRedirection(this);

		window.addEventListener('resize', this.handleResize)

		if (isMobile()) {
			this.raiseMobileConfirm();
		} else {
			this.setup().then(() => document.dispatchEvent(new Event("x-app-rendered")));
		}
	},
	beforeDestroy: function () {
		window.removeEventListener('resize', this.handleResize)
		this.vida.destroy();
	},
	beforeRouteUpdate(to, from, next) {
		if (to.params.templateId !== from.params.templateId) {
			this.templateId = to.params.templateId;

			next(); // todo
			this.setup();
		} else {
			if (this.exportType(to) !== undefined) {
				// Does nothing (reject) if !this.vida
				// Then export vida is done at the end of loadJson promise.
				this.exportVida(this.exportType(to)).then(() => {
					next(from);
				}).catch(() => {});
			}
		}
		next();
	},
	beforeRouteLeave(to, from, next) {
		if (!this.hasChanged) {
			next();
			return;
		}

		this.$buefy.dialog.confirm({
			title: this.$i18n.t('EDIT.UNSAVED_WORK.TITLE'),
			message: this.$i18n.t('EDIT.UNSAVED_WORK.MESSAGE'),
			confirmText: this.$i18n.t('EDIT.UNSAVED_WORK.QUIT_BUTTON'),
			cancelText: this.$i18n.t('EDIT.UNSAVED_WORK.STAY_BUTTON'),
			type: 'is-danger',
			hasIcon: true,
			onConfirm: () => next(),
			onCancel: () => next(false)
		});
	}
};
</script>

<style lang="scss">
.editor {
	min-height: calc(100vh - 100px);
}

.options-sidebar {
  height: 100%;
  width: 430px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 70px;
}

.preview-card {
    width: 70px;
}

.dropdown-item figure {
	height: 50px;
}

.dropdown-item figure img {
	object-fit: contain;
	height: 100%;
}

.options-sidebar nav.navbar {
	border-bottom: 2px ridge gray;
	margin: 10px 27px 20px 35px;
	padding: 10px 7px 1px 7px;
}

.options-sidebar .navbar-item .left-icon:only-child {
	margin-right: 5px;
}
</style>
