<template>
    <div>
        <vida-navbar active='symbols' />
        <section class="hero is-primary">
            <div class="hero-body">
                <h1 class="title">{{ $tc('SVGS.LABEL', 2) }}</h1>
                <p class="subtitle">{{ $t('SVGS.PAGE_DESCRIPTION') }}</p>
            </div>
        </section>

        <section>
            <colorable-gallery path='symbols' :elements='$symbols' routePrefix='symbol' />
        </section>
    </div>
</template>

<script>
import VidaNavbar from '@/components/navbar'
import ColorableGallery from '@/components/ColorableGallery'
import { showSnackbarOnRedirection } from '@/plugins/utils.js';

export default {
    name: 'symbols',
    metaInfo: function() {
        return ({
            title: `${this.$t("NAVBAR.SYMBOLS")} - ${this.$localConfig.id}`,
            titleTemplate: '%s | Aktivisda.earth',
			meta: [
				{ vmid: 'description', name: 'description', content: `${this.$t("SVGS.PAGE_DESCRIPTION")}`  },
				{ property: 'og:title', vmid: 'og:title', content: `${this.$t("NAVBAR.SYMBOLS")} | ${this.$localConfig.id}.aktivisda` },
				{ property: 'og:type', vmid: 'og:type', content: 'website' },
				{ property: 'og:url', vmid: 'og:url', content: this.$localConfig.url },
				{ property: 'og:description', vmid: 'og:description', content: `${this.$t("SVGS.PAGE_DESCRIPTION")}` },
			]
        });
    },
    components: { VidaNavbar, ColorableGallery },
    mounted: function(){
		showSnackbarOnRedirection(this);
    }
};
</script>
